In [2]:
import pandas as pd
from pandarallel import pandarallel
pandarallel.initialize(nb_workers=24)
import dask.dataframe as dd

INFO: Pandarallel will run on 24 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [2]:
clientsDF = pd.read_csv('./Data/Clientes_Descriptivo.txt', sep='\t')
clientsDF.head()

  NU_CTE_COD  EDAD CD_ESTADO  CD_POSTAL CD_SEXO
0   ABK0NHDA    68        DF      13360       M
1   M5JVN30B    22        JA      44760       M
2   RMMTWKSD    22        AG      20344       M
3   1VLE6Y9G    79        CH      32390       M
4   3CE1LE8Z    64        DU      34414       F

In [3]:
clientsDFSynth = clientsDF.sample(frac=0.165, random_state=1337, weights='EDAD')
clientsDFSynth['acc'] = 1


clientsDFSynthDis = clientsDFSynth.sample(frac=0.388, random_state=1338, weights='EDAD')
clientsDFSynthDis['caminar'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)

clientsDFSynthDis = clientsDFSynth.sample(frac=0.61, random_state=1339, weights='EDAD')
clientsDFSynthDis['ver'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc', 'caminar'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)

clientsDFSynthDis = clientsDFSynth.sample(frac=0.244, random_state=1340, weights='EDAD')
clientsDFSynthDis['escuchar'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc', 'caminar', 'ver'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)

clientsDFSynthDis = clientsDFSynth.sample(frac=0.107, random_state=1341, weights='EDAD')
clientsDFSynthDis['hablar'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc', 'caminar', 'ver', 'escuchar'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)

clientsDFSynthDis = clientsDFSynth.sample(frac=0.116, random_state=1342, weights='EDAD')
clientsDFSynthDis['cuidado'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc', 'caminar', 'ver', 'escuchar', 'hablar'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)


clientsDFSynthDis = clientsDFSynth.sample(frac=0.237, random_state=1343, weights='EDAD')
clientsDFSynthDis['recordar'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc', 'caminar', 'ver', 'escuchar', 'hablar', 'cuidado'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)

clientsDFSynthDis = clientsDFSynth.sample(frac=0.076, random_state=1344, weights='EDAD')
clientsDFSynthDis['mental'] = 1
clientsDFSynthDis = clientsDFSynthDis.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO', 'acc', 'caminar', 'ver', 'escuchar', 'hablar', 'cuidado', 'recordar'])
clientsDFSynth = clientsDFSynth.join(clientsDFSynthDis)



clientsDFSynth = clientsDFSynth.drop(columns=['NU_CTE_COD', 'EDAD', 'CD_ESTADO', 'CD_POSTAL', 'CD_SEXO'])
clientsDF = clientsDF.join(clientsDFSynth)
clientsDF['acc'] = clientsDF['acc'].fillna(0)
clientsDF['mental'] = clientsDF['mental'].fillna(0)
clientsDF['recordar'] = clientsDF['recordar'].fillna(0)
clientsDF['cuidado'] = clientsDF['cuidado'].fillna(0)
clientsDF['hablar'] = clientsDF['hablar'].fillna(0)
clientsDF['escuchar'] = clientsDF['escuchar'].fillna(0)
clientsDF['ver'] = clientsDF['ver'].fillna(0)
clientsDF['caminar'] = clientsDF['caminar'].fillna(0)
clientsDF.describe()

,EDAD,CD_POSTAL,acc,caminar,ver,escuchar,hablar,cuidado,recordar,mental
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,39.165200,49991.314000,0.165000,0.064000,0.100600,0.040200,0.017600,0.019200,0.03920,0.012600
std,31.387643,26975.543828,0.371218,0.244777,0.300828,0.196448,0.131506,0.137241,0.19409,0.111551
min,13.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,28.000000,27359.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
50%,36.000000,52165.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
75%,47.000000,72730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
max,2021.000000,99800.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000

In [4]:
clientsDF.tail(20)

,NU_CTE_COD,EDAD,CD_ESTADO,CD_POSTAL,CD_SEXO,acc,caminar,ver,escuchar,hablar,cuidado,recordar,mental
4980,TGD8HUST,26,EM,56530,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4981,YE0DX9V0,33,HI,42000,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4982,SPVW6B8C,50,DF,7708,M,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4983,SX3QLTRS,32,PU,72700,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4984,FXGM10C9,23,CO,28010,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4985,ESBG7RUH,44,MI,58040,M,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4986,H2L2AK1Q,25,DF,7509,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4987,E438D0W3,20,EM,55770,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4988,398W412Y,47,VE,91090,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4989,LB4FQMXY,29,PU,72730,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4990,8A2EEEX7,50,MI,60020,F,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4991,V97N2C17,26,EM,54743,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4992,D8R1QJQ3,35,VE,91720,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4993,SAS0996B,38,JA,45595,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4994,W1QPRAU9,24,EM,54416,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4995,Z8UFSMC8,21,QR,77516,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,19AW7MZL,54,EM,55055,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,DQ9PFPXU,34,BN,22206,M,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4998,43CR06JE,40,EM,52785,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,VFEYVX08,48,NL,66260,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#clientsDF.to_csv('./Data/Clients_synth.csv', index=False)

In [28]:
clientsDF = pd.read_csv('./Data/Clients_synth.csv')

In [70]:

clientsGirosDF = clientsDF.copy()

for giro in girosList:
    clientsGirosDF['num_{}'.format(giro)] = 0 
    clientsGirosDF['sum_{}'.format(giro)] = 0 
    clientsGirosDF['min_{}'.format(giro)] = 0 
    clientsGirosDF['max_{}'.format(giro)] = 0 
    clientsGirosDF['mean_{}'.format(giro)] = 0 


    clientsGirosDF['num_m4_{}'.format(giro)] = 0 
    clientsGirosDF['num_m5_{}'.format(giro)] = 0 
    clientsGirosDF['num_m6_{}'.format(giro)] = 0
    clientsGirosDF['num_m7_{}'.format(giro)] = 0 
    clientsGirosDF['num_m8_{}'.format(giro)] = 0 
    clientsGirosDF['num_m9_{}'.format(giro)] = 0 

    clientsGirosDF['sum_m4_{}'.format(giro)] = 0 
    clientsGirosDF['sum_m5_{}'.format(giro)] = 0 
    clientsGirosDF['sum_m6_{}'.format(giro)] = 0
    clientsGirosDF['sum_m7_{}'.format(giro)] = 0 
    clientsGirosDF['sum_m8_{}'.format(giro)] = 0 
    clientsGirosDF['sum_m9_{}'.format(giro)] = 0 


    clientsGirosDF['min_m4_{}'.format(giro)] = 0 
    clientsGirosDF['min_m5_{}'.format(giro)] = 0 
    clientsGirosDF['min_m6_{}'.format(giro)] = 0
    clientsGirosDF['min_m7_{}'.format(giro)] = 0 
    clientsGirosDF['min_m8_{}'.format(giro)] = 0 
    clientsGirosDF['min_m9_{}'.format(giro)] = 0 


    clientsGirosDF['max_m4_{}'.format(giro)] = 0 
    clientsGirosDF['max_m5_{}'.format(giro)] = 0 
    clientsGirosDF['max_m6_{}'.format(giro)] = 0
    clientsGirosDF['max_m7_{}'.format(giro)] = 0 
    clientsGirosDF['max_m8_{}'.format(giro)] = 0 
    clientsGirosDF['max_m9_{}'.format(giro)] = 0 

    clientsGirosDF['mean_m4_{}'.format(giro)] = 0 
    clientsGirosDF['mean_m5_{}'.format(giro)] = 0 
    clientsGirosDF['mean_m6_{}'.format(giro)] = 0
    clientsGirosDF['mean_m7_{}'.format(giro)] = 0 
    clientsGirosDF['mean_m8_{}'.format(giro)] = 0 
    clientsGirosDF['mean_m9_{}'.format(giro)] = 0 

clientsGirosDF.head()

/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:40: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:45: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:46: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:47: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:48: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  import sys
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if __name__ == "__main__":
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  # Remove the CWD from sys.path while we load stuff.
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  del sys.path[0]
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  from ipykernel import kernelapp as app
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  app.launch_new_instance()
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:29: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
/home/psyrax/anaconda3/envs/hackathon2022/lib/python3.7/site-packages/ipykernel_launcher.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

,NU_CTE_COD,EDAD,CD_ESTADO,CD_POSTAL,CD_SEXO,acc,caminar,ver,escuchar,hablar,...,"max_m6_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","max_m7_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","max_m8_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","max_m9_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","mean_m4_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","mean_m5_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","mean_m6_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","mean_m7_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","mean_m8_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)","mean_m9_GUARDERIAS (PUERICULTURA),(SERVICIOS DE CUIDADO POR DIA)"
0,ABK0NHDA,68,DF,13360,M,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,M5JVN30B,22,JA,44760,M,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,RMMTWKSD,22,AG,20344,M,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,1VLE6Y9G,79,CH,32390,M,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,3CE1LE8Z,64,DU,34414,F,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
clientsGirosDF.to_csv('./Data/ClientesGiros.csv', index=False)

In [ ]:
txDF = pd.read_csv('./Data/Transacciones_Clientes.txt', sep='\t')

In [11]:
def addSubGiro(row):
    try:
        afil = row['NU_AFILIACION']
        giro = girosDF[girosDF['NU_AFILIACION'] == afil].reset_index().iloc[0]['NB_SUBGIRO']
    except:
        giro = 'N/A'
    return giro

In [12]:
#txDF['SubGiro'] = txDF.apply(addSubGiro, axis=1)

NameError: name 'txDf' is not defined

In [75]:
txDFGiro.head()

,NU_CTE_COD,FH_CORTE,FH_OPERACION,NU_AFILIACION,TIPO_TARJETA,IM_TRANSACCION,SubGiro,Mes
0,0MNXBHXN,01/07/2022,2022-07-12,4149168,CREDITO,495.00,"AUTOPARTES, ACCESORIOS AUTOMOTORES",7
1,562NS6XR,01/08/2022,2022-08-03,7476840,CREDITO,294.00,"CARNICERIAS, PESCADERIAS, ABARROTES, MISCELANE...",8
2,LYS00B64,01/04/2022,2022-04-13,8427123,DEBITO,570.00,PAGO DE SERVICIO POR TELEVISION CABLE/POR EVENTO,4
3,YD17U634,01/05/2022,2022-05-14,6356919,DEBITO,301.00,"TIENDAS DE CONVENIENCIA, MINISUPER",5
4,M8V2EQUE,01/04/2022,2022-04-22,7979128,DEBITO,393.65,COMERCIOS ELECTRONICOS (VENTAS A TRAVES DE INT...,4

In [27]:
txDF['FH_OPERACION'] = pd.to_datetime(txDF['FH_OPERACION'], format='%d/%m/%Y')
txDF['Mes'] = pd.DatetimeIndex(txDF['FH_OPERACION']).month
txDF['Mes'].unique()

array([7, 8, 4, 5, 6, 9])

In [26]:
txDF.head()

,NU_CTE_COD,FH_CORTE,FH_OPERACION,NU_AFILIACION,TIPO_TARJETA,IM_TRANSACCION,SubGiro,Mes
0,0MNXBHXN,01/07/2022,2022-07-12,4149168,CREDITO,495.00,"AUTOPARTES, ACCESORIOS AUTOMOTORES",7
1,562NS6XR,01/08/2022,2022-08-03,7476840,CREDITO,294.00,"CARNICERIAS, PESCADERIAS, ABARROTES, MISCELANE...",8
2,LYS00B64,01/04/2022,2022-04-13,8427123,DEBITO,570.00,PAGO DE SERVICIO POR TELEVISION CABLE/POR EVENTO,4
3,YD17U634,01/05/2022,2022-05-14,6356919,DEBITO,301.00,"TIENDAS DE CONVENIENCIA, MINISUPER",5
4,M8V2EQUE,01/04/2022,2022-04-22,7979128,DEBITO,393.65,COMERCIOS ELECTRONICOS (VENTAS A TRAVES DE INT...,4

In [65]:
txDF.to_csv('./Data/tx_giro.csv', index=False)

In [4]:
girosDF = pd.read_csv('./Data/Catalogo_Giros.txt', sep='\t')
girosList = girosDF['NB_SUBGIRO'].unique()

In [55]:
clientsSynth = pd.read_csv('./Data/Clients_synth.csv')

In [7]:
txDFGiro = pd.read_csv('./Data/tx_giro.csv')

In [24]:
ddf = dd.from_pandas(txDFGiro, npartitions=4)

In [42]:
grouped = ddf.groupby(['NU_CTE_COD', 'SubGiro']).agg({
    'IM_TRANSACCION': ['mean', 'min', 'max', 'sum', 'count']
}).compute()
grouped.columns = grouped.columns.droplevel(0)
grouped.reset_index().to_csv('./Data/clientsAgg.csv')

In [ ]:
clientsGirosDF.compute().to_csv("./Data/aggClient.csv", index=False)

In [1]:
aggClientDF = pd.read_csv('./Data/clientsAgg.csv')
aggClientDF.head()

NameError: name 'pd' is not defined

In [53]:
aggClientDFPV = aggClientDF.pivot(index='NU_CTE_COD', columns='SubGiro', values=['mean', 'max', 'sum', 'count'])
aggClientDFPV.columns = ['_'.join(col) for col in aggClientDFPV.columns.values]
aggClientDFPV = aggClientDFPV.fillna(0)
aggClientDFPV.reset_index()

,NU_CTE_COD,"mean_(BOUTIQUE ROPA ESPECIAL), (BOUTIQUES LENCERIAS)","mean_(ROPA CASUAL DAMAS), (BOUTIQUES ROPA CASUAL DAMAS)","mean_(TIENDAS DE ARTICULOS USADOS), (TIENDAS DE ARTICULOS DE SEGUNDA",mean_?,mean_A1 RENT A CAR,"mean_ACCESORIOS ELECTRODOMESTICOS, (ELECTRODOMESTICOS NO","mean_ACCESORIOS JARDIN, (ACCESORIOS JARDININERIA),",mean_ACCESORIOS INDUSTRIALES NO CLASIFICADOS,"mean_ACCESORIOS PARA FLORERIAS, FLORES E INVERNADEROS",...,count_UNITED AIRLINES,"count_UNIVERSIDADES, (COLEGIOS Y PREPARATORIAS), (ESCUELAS PROFESIONALES),","count_VEHICULOS DE MOTOR, ACCESORIOS Y AUTO PARTES","count_VENTA DE TOLDOS, (VENTA DE TIENDAS DE CAMPANA),","count_VENTA DE VIDEO JUEGOS, ACCESORIOS","count_VENTA, SERVICIO, ACCESORIOS ALBERCAS",count_VENTAS DE SALDOS,count_VIDEO JUEGOS ESTABLECIMIENTOS,count_WESTIN HOTELS,count_ZAPATERIAS
0,000HGYNG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000RB06Z,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
2,00289UX5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,006G4P76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00795LWS,0.0,1229.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,ZZ4TF6YL,0.0,377.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,ZZ5L619X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,ZZ5T05JB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4998,ZZA1B82X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,ZZLCCSZ3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
clientsSynthAgg = clientsSynth.merge(aggClientDFPV, on='NU_CTE_COD')
clientsSynthAgg.to_csv('./Data/clientsSynthAgg.csv', index=False)

In [66]:
aggClientMesDF = pd.read_csv('./Data/clientsAggMes.csv')
aggClientMesDF['Mes'] = aggClientMesDF['Mes'].astype(str)
aggClientMesDFPV = aggClientMesDF.pivot(index='NU_CTE_COD', columns=['SubGiro', 'Mes'], values=['mean', 'max', 'sum', 'count'])
aggClientMesDFPV.columns = ['_'.join(col) for col in aggClientMesDFPV.columns.values]
aggClientMesDFPV = aggClientMesDFPV.fillna(0)
aggClientMesDFPV.reset_index()

,NU_CTE_COD,mean_AUTOSERVICIOS_4,mean_COMERCIO_4,mean_COMERCIO_8,"mean_COMERCIOS ELECTRONICOS (VENTAS A TRAVES DE INTERNET), (SERVICIOS_5","mean_COMERCIOS ELECTRONICOS (VENTAS A TRAVES DE INTERNET), (SERVICIOS_6",mean_ALMACEN DE MERCANCIAS EN GENERAL_8,mean_AUTOSERVICIOS_6,mean_AUTOSERVICIOS_7,mean_AUTOSERVICIOS_8,...,"count_FOTOGRAFIA, ARTE Y ANUNCIOS COMERCIALES,(ARTES Y ANUNCIOS_9",count_OSTEOPATAS_5,"count_CONTRATISTAS TECHOS, ESTRUCTURAS Y LAMINAS_6","count_CONTRATISTAS (YESO) (CANTERA Y MAMPOSTERIA) (TEJAS, PISOS Y_7","count_VENTA DE TOLDOS, (VENTA DE TIENDAS DE CAMPANA),_8",count_HAMPTON INN HOTELS_4,count_BAILE SALONES Y ESCUELAS DE BAILE_9,count_SERVICIO GRUAS Y TRASLADOS_6,count_VENTAS DE SALDOS_5,count_UNITED AIRLINES_5
0,000HGYNG,652.000000,148.0,86.0,1697.800000,218.330000,0.000000,642.280000,87.900000,1985.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000RB06Z,78.880000,0.0,0.0,0.000000,0.000000,291.000000,411.700000,136.000000,272.158000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00289UX5,0.000000,0.0,0.0,283.723333,489.023333,1500.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,006G4P76,257.400000,0.0,0.0,0.000000,0.000000,984.000000,908.650000,400.640000,758.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00795LWS,0.000000,0.0,240.0,0.000000,0.000000,291.433333,610.166667,295.500000,376.470000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,ZZ4TF6YL,314.770000,0.0,0.0,0.000000,0.000000,0.000000,439.130000,307.703333,155.575000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,ZZ5L619X,151.056667,141.0,0.0,143.205000,205.500000,0.000000,108.730000,252.520000,195.954286,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,ZZ5T05JB,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,ZZA1B82X,99.340000,0.0,0.0,0.000000,0.000000,20.685000,55.500000,70.850000,179.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,ZZLCCSZ3,0.000000,0.0,0.0,0.000000,0.000000,124.666667,0.000000,609.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
clientsSynthAgg = clientsSynth.merge(aggClientMesDFPV, on='NU_CTE_COD')
clientsSynthAgg.to_csv('./Data/clientsSynthAgg.csv', index=False)

In [68]:
clientsSynthAgg.head()

,NU_CTE_COD,EDAD,CD_ESTADO,CD_POSTAL,CD_SEXO,acc,caminar,ver,escuchar,hablar,...,"count_FOTOGRAFIA, ARTE Y ANUNCIOS COMERCIALES,(ARTES Y ANUNCIOS_9",count_OSTEOPATAS_5,"count_CONTRATISTAS TECHOS, ESTRUCTURAS Y LAMINAS_6","count_CONTRATISTAS (YESO) (CANTERA Y MAMPOSTERIA) (TEJAS, PISOS Y_7","count_VENTA DE TOLDOS, (VENTA DE TIENDAS DE CAMPANA),_8",count_HAMPTON INN HOTELS_4,count_BAILE SALONES Y ESCUELAS DE BAILE_9,count_SERVICIO GRUAS Y TRASLADOS_6,count_VENTAS DE SALDOS_5,count_UNITED AIRLINES_5
0,ABK0NHDA,68,DF,13360,M,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,M5JVN30B,22,JA,44760,M,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,RMMTWKSD,22,AG,20344,M,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1VLE6Y9G,79,CH,32390,M,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3CE1LE8Z,64,DU,34414,F,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
clientsSynthAgg = clientsSynthAgg.loc[:,~clientsSynthAgg.columns.duplicated()].copy()
clientsSynthAgg.to_csv('./Data/clientsSynthAgg.csv', index=False)

In [5]:
clientsSynthAgg = pd.read_csv('./Data/clientsSynthAgg.csv')
clientsSynthAgg.head()

,NU_CTE_COD,EDAD,CD_ESTADO,CD_POSTAL,CD_SEXO,acc,caminar,ver,escuchar,hablar,...,"count_FOTOGRAFIA, ARTE Y ANUNCIOS COMERCIALES,(ARTES Y ANUNCIOS_9",count_OSTEOPATAS_5,"count_CONTRATISTAS TECHOS, ESTRUCTURAS Y LAMINAS_6","count_CONTRATISTAS (YESO) (CANTERA Y MAMPOSTERIA) (TEJAS, PISOS Y_7","count_VENTA DE TOLDOS, (VENTA DE TIENDAS DE CAMPANA),_8",count_HAMPTON INN HOTELS_4,count_BAILE SALONES Y ESCUELAS DE BAILE_9,count_SERVICIO GRUAS Y TRASLADOS_6,count_VENTAS DE SALDOS_5,count_UNITED AIRLINES_5
0,ABK0NHDA,68,DF,13360,M,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,M5JVN30B,22,JA,44760,M,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,RMMTWKSD,22,AG,20344,M,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1VLE6Y9G,79,CH,32390,M,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3CE1LE8Z,64,DU,34414,F,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0